@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faedce;
  color: #242424;
  min-height: 100vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header,
main {
  max-width: 60rem;
  margin: 0 auto;
  background-color: #fefae0;
}

header {
  height: 10vh;
  padding: 2rem;
  background-color: #ccd5ae;

  h1 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1rem;
    font-weight: 700;
    font-size: 3rem;
    color: #3c4249;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 414px;
  min-height: 90vh;
  padding: 2rem;
}

@media (max-width: 480px) {
  header {
    h1 {
      font-size: 1.5rem;
    }
  }
}

#grid-options {
  display: flex;
  gap: 2rem;
  padding: 2rem 0;

  .form-control {
    display: flex;
    align-items: center;

    label,
    select {
      width: 50%;
      background-color: #e0e5b6;
      padding: 0.5rem 1rem;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      text-transform: uppercase;
      letter-spacing: 4px;
      line-height: 1rem;
      font-weight: 700;
      color: #3c4249;
    }

    select {
      background-color: #faedce;
      border-radius: 0;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-width: 0;
    }
  }

  .form-actions {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      background-color: #e0e5b6;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
      padding: 0.5rem 1rem;
      border-radius: 8px;
      text-transform: uppercase;
      letter-spacing: 4px;
      line-height: 1rem;
      font-weight: 700;
      border-width: 0;
      transition: background-color 300ms ease;

      &:hover {
        cursor: pointer;
        background-color: #ccd5ae;
      }
    }
  }
}

@media (max-width: 880px) {
  #grid-options {
    flex-direction: column;
  }
}

#image-picker {
  margin-bottom: 2rem;

  p {
    font-weight: 700;
    font-size: 0.85rem;
    letter-spacing: 4px;
    margin-bottom: 0.5rem;
    color: #3c4249;
    text-transform: uppercase;
    text-align: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 0.5rem;
    justify-content: center;

    li {
      width: 4rem;
      height: 3rem;
      border: 2px solid transparent;
      border-radius: 4px;
      overflow: hidden;
      transition: border-color 300ms ease;

      &:hover {
        cursor: pointer;
      }

      &.selected {
        border-color: #0d29e3;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

#facebook-grid {
  position: relative;
  width: 100%;
  max-width: 50rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

  .image-container {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      background-color: #e1e1e1;
      object-fit: cover;
    }

    .additional-images-overlay {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);

      .overlay-text {
        color: #fff;
        font-size: 32px;
      }
    }
  }

  .one-photo-grid {
    display: grid;
    grid-template-columns: 1fr;

    .image-container {
      img {
        object-fit: cover;
      }
    }
  }

  .two-photo-grid {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(2, 1fr);
  }

  .two-photo-grid-landscape {
    display: grid;
    gap: 2px;
    grid-template-rows: repeat(2, 1fr);
  }

  .three-photo-grid {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(2, 1fr);

    .image-container:first-child {
      grid-column: span 2;
    }
  }

  .three-photo-grid-portrait {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, 1fr);

    .image-container:first-child {
      grid-column: span 2;
      grid-row: span 2;
    }
  }

  .four-photo-grid-square {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(2, 1fr);
  }

  .four-photo-grid-portrait {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, 1fr);

    .image-container:first-child {
      grid-column: span 2;
      grid-row: span 3;
    }
  }

  .four-photo-grid-landscape {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, 1fr);

    .image-container:first-child {
      grid-column: span 3;
      grid-row: span 2;
    }
  }

  .five-photo-grid {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(6, 1fr);

    .image-container {
      grid-column: span 2;

      &:first-child,
      &:nth-child(2) {
        grid-column: span 3;
      }
    }
  }

  .five-photo-grid-landscape {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4, 1fr);

    .image-container {
      &:first-child {
        grid-column: span 2;
        grid-row: span 3;
      }

      &:nth-child(2) {
        grid-row-start: 4;
        grid-row-end: 7;
        grid-column: span 2;
      }

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        grid-column: span 2;
        grid-row: span 2;
      }
    }
  }
}

#twitter-grid {
  position: relative;
  width: 100%;
  max-width: 50rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

  .one-photo-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
  }

  .two-photo-grid,
  .three-photo-grid,
  .four-photo-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4px;
  }

  .three-photo-grid {
    :first-child {
      grid-row: 1 / -1;
    }
  }

  .image-container {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      background-color: #e1e1e1;
      object-fit: cover;
    }
  }
}

#instagram-carousel {
  position: relative;
  width: 100%;
  max-width: 50rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

  .image-container {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      background-color: #e1e1e1;
      object-fit: cover;
    }
  }
}

.placeholder {
  width: 100%;
  height: 30rem;
  background-color: #e0e5b6;
}

.image-container {
  button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border-width: 0;
    color: white;
    font-weight: 700;
    background-color: #9d9c9c;
    transition: background-color 300ms ease;

    &:hover {
      cursor: pointer;
      background: #575c66;
    }
  }
}
